<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ntk.android.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".activity.common.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Intro" />
        <activity
            android:name=".activity.common.LoginMobileActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Register" />
        <activity
            android:name=".activity.common.RegisterMobileActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Register" />
        <activity
            android:name=".activity.common.RegisterMobileConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Register" />
        <activity
            android:name=".activity.common.NotificationsActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Notification" />
        <activity
            android:name=".activity.ticketing.FaqActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Fag" />
        <activity
            android:name=".activity.ticketing.TicketAnswerActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Ticket_Answer" />
        <activity
            android:name=".activity.ticketing.TicketSearchActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Ticket_Search" />
        <activity
            android:name=".activity.ticketing.TicketListActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Ticket_List" />
        <activity
            android:name=".activity.ticketing.FaqSearchActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Faq_Search" />
        <activity
            android:name="ntk.android.base.activity.poling.PolingActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Poll" />
        <activity
            android:name="ntk.android.base.activity.poling.PolingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="?attr/Theme_NTK_Poll_Detail" />
        <activity android:name=".activity.common.AuthWithSmsActivity" />
        <activity android:name=".activity.common.AuthWithSmsConfirmActivity" />
        <activity android:name=".activity.ticketing.NewTicketActivity" />
        <activity android:name=".activity.common.FeedbackListActivity" />
        <activity android:name=".activity.common.VideoPlayerActivity" />


        <service
            android:name=".service.FirebaseService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>